*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
section{
    max-width: 1500px;
    min-height: 50vh;
    border: 1px solid red;
    padding: 10px;
    margin: 0 auto;
  
}
body{
    background-color: rgb(46, 41, 41);
}
/* hed styling starts here */
#hed{
    background:linear-gradient(rgba(0, 0, 0, 0.648),rgba(0, 0, 0, 0.648)),url(images/GC-Living-03.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
nav{
    height: 10vh;
   /* border: 1px solid greenyellow; */
}
.nav1{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  
    height: 100%;
    
}
li{
  margin: 0 20px;  
  list-style: none;
  float: left;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  letter-spacing: 1px;
  /*
  font-family: "Gupter", serif;
    font-weight: 900;
    font-style: normal; */
  
}

.nav1 a{
  color: white;
   text-transform: uppercase;
}
nav h1{
      text-transform: uppercase;
      color: rgb(241, 199, 91);
  letter-spacing: 2px;
      font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;/*
        font-family: "Calistoga", serif;
        font-weight: 400;
        font-style: normal;
      
      */
      
}
.content{
    /*border: 1px solid yellow; */
    width: 100%;
    height: 80vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    color: white;
    padding: 7VW;
}
.content h2{
    font-size: 2vw;
   
}
.content h1{
    font-size: 10vw;
    font-family: "Calistoga", serif;
        font-weight: 400;
        font-style: normal;
       
}
.content h3{
    font-size: 2vw;
    margin: 10PX;
}
.content span{
    background-color: rgb(199, 173, 108);
    padding: 10PX;
}
/* hed styling ends here */
/* main about  styling starts here */

#about{
    padding: 20px;
    color: whitesmoke;
}
.subt{
 color: rgb(241, 199, 91);
 margin-bottom: 3vh;
 font-family: "Gupter", serif;
 font-weight: 900;
 font-style: normal;
 letter-spacing: 7PX;
 font-size: 10PX;
 text-transform: uppercase;
}
.topic{
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(241, 234, 215); 
    letter-spacing: 2PX;
  text-transform: uppercase;
}
.about p{
  /*  font-family: "Anton", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px; */
 border-left: 7px solid whitesmoke;
 padding-left: 20px;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight:200;
  font-style: normal;
  font-size: 20px;
  text-align: center;
}
/* main about styling ends here */
/* areas  styling starts here */
#areas{
   
    border: 1px solid green;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.gallery{
    padding: 10px;
    border: 1px solid rgb(32, 29, 29);
    width: 22%;
    min-height: 350px;
    margin: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.459);
}
.gallery img{
    width: 100%;
    height: 170px;
    border: 1px solid rgb(255, 255, 255);
}
.desc h3{
    color: rgb(187, 183, 183);
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;

}
.desc p{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight:200;
    font-style: normal;
    color: whitesmoke;
    margin: 10px;
    color: rgb(148, 136, 136);
    border-left: 5px solid goldenrod;
    padding: 10px;
}
.btn{
    background-color:white;
    border:2px solid goldenrod;
    text-transform: capitalize;
    padding: 7px 30px;
    width: 90%;
    display: block;
    margin: 0 auto;

    
}
.btn a{
 color: rgb(0, 0, 0);
}

/* areas  styling ends here */
/* more  styling starts here */

#more{
    background:linear-gradient(rgba(0, 0, 0, 0.648),rgba(0, 0, 0, 0.648)),url(images/0aebe36d-65cb-46f9-b35c-e02f25c13d45.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#more h1{
    color: white;
    font-family: "Anton", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
    letter-spacing: 6px;

}
#more p{
    color: white;
    max-width: 1000px;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight:200;
    font-style: normal;
    margin: 20px;
}
.ctn{
    background-color: rgb(248, 220, 148);
    color: black;
    padding: 10px 50px;
    border: none;
    
}
.ctn a {
    color: rgb(66, 66, 66);
}

/* more  styling ends here */
/* contact  styling start here */
#contact{
    padding-top:50px ;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
#contact form input, textarea{
    display: block;
    width: 30vw;
    margin: 10px;
    padding: 10px ;
    background: none;
    border: 1px solid goldenrod;
    outline: none;
    color: white;
}
::placeholder {
    color: white;
}
#contact h1{
    color: white;
    font-size: 70px;
    text-transform:capitalize;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight:200;
    font-style: normal;
}





/* contact page  styling ends here */

/* contacts page styling starts here */
#contacts{
    padding-top:50px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    background-color: rgb(236, 221, 182);
}

#contacts img{
    width: 27vw;
    
}
#contacts .social {
    width: 40vw;
}
#contacts .socialmedia{
    
    padding: 20px;
    margin: 20px;
}
#contacts .socialmedia i{
    padding: 10px;
    font-size: 20px;
    
    border-radius: 50%;
    margin: 10px;
    background-color: rgb(46, 41, 41);
    color: rgb(238, 227, 199);
}
#contacts .socialmedia i:hover{
 color: rgb(46, 41, 41);
 background-color:rgb(238, 227, 199) ;
}
#contacts h2{
    text-transform: uppercase;
    color:rgb(46, 41, 41) ;
    letter-spacing: 7px;
    text-decoration: underline;
  /*  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight:1000;
  font-style: normal;*/
  margin: 20px 0;
  font-size: 2vw;
  font-family: "Calistoga", serif;
      font-weight: 400;
      font-style: normal;
}

/* contacts styling ends here */

#menu,#close{
    display: none;
}


/* responsive styling start here */

@media  screen and (max-width:800px) {

    .content h2{
        font-size: 20px;
       
    }
    .content h1{
        font-size: 40px;
        font-family: "Calistoga", serif;
            font-weight: 400;
            font-style: normal;
           
    }
    .content h3{
        font-size: 20px;
        margin: 10PX;
    }
    .content span{
        background-color: rgb(199, 173, 108);
        padding: 1PX;
        display: block;
        
    }
    #menu,#close{
        display: block;
    }
 section{
  border: 4px solid green;
 }
 .nav1 h2 i{
    color: rgb(255, 255, 255);
    font-size: 35px;
    position: relative;
    color: rgb(241, 199, 91);
  }
  .lists{
    background-color: rgb(31, 30, 30);
    width: 70vw;
   height: 70vh;
   position: absolute;
   right: 0px;
   top: -2000px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column; 
   transition: all 2s;
   
 }
 .active{
   top: 0;
}
 .nav1 ul a{
    font-style: italic;
    text-transform: capitalize;
 }
 li{
    margin: 30px 0px;  
    list-style: none;
    float: none;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    letter-spacing: 1px;
    /*
    font-family: "Gupter", serif;
      font-weight: 900;
      font-style: normal; */
    
  }
.gallery{
    padding: 10px;
    border: 1px solid rgb(32, 29, 29);
    width: 45%;
    min-height: 350px;
    margin: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.459);
}


#contact{
    padding-top:50px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#contact form input, textarea{
    display: block;
    width: 90vw;
    margin: 10px;
    padding: 10px ;
    background: none;
    border: 1px solid goldenrod;
    outline: none;
    color: white;
}

#contact h1{
    color: white;
    font-size: 70px;
    text-transform:capitalize;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight:200;
    font-style: normal;
}
/* contacts page styling starts here */
#contacts{
    padding-top:50px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: rgb(236, 221, 182);
}

#contacts img{
    width: 60vw;
    
}
#contacts .social {
    width: 90vw;
}
#contacts .socialmedia{
    
    padding: 10px;
    margin: 10px;
}
#contacts .socialmedia i{
    padding: 10px;
    font-size: 10px;
    
    border-radius: 50%;
    margin: 10px;
    background-color: rgb(46, 41, 41);
    color: rgb(238, 227, 199);
}
#contacts .socialmedia i:hover{
 color: rgb(46, 41, 41);
 background-color:rgb(238, 227, 199) ;
}
#contacts h2{
    text-transform: uppercase;
    color:rgb(46, 41, 41) ;
    letter-spacing: 7px;
    text-decoration: underline;
  /*  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight:1000;
  font-style: normal;*/
  margin: 20px 0;
  font-size: 2vw;
  font-family: "Calistoga", serif;
      font-weight: 400;
      font-style: normal;
}

/* contacts styling ends here */
}




@media  screen and (max-width:500px) {
    .gallery{
        padding: 10px;
        border: 1px solid rgb(32, 29, 29);
        width: 98%;
        min-height: 350px;
        margin: 10px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.459);
    }   

    #more h1{
        color: white;
        font-family: "Anton", sans-serif;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 1px;
        letter-spacing: 6px;
        font-size: 20px;
    
    }
    #more p{
        color: white;
        max-width: 1000px;
        font-family: "Dosis", sans-serif;
        font-optical-sizing: auto;
        font-weight:200;
        font-style: normal;
        margin: 20px;
    }
    
    
}

/* responsive styling ends here */